.header{
    &__container{
        position: absolute;
        width: 1440px;
        height: 710px;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &__container::before{
        content: '';
        position: absolute;
        top: 77.6%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 77.6%);
        z-index: -3;
    }
}

.navigation{
    &__container{
        position: absolute;
        width: 1439px;
        height: 56px;
        left: 0px;
        top: 0px;
        &::after{
            content: ' ';
            position: absolute;
            height: 0px;
            left: 0px;
            right: -1px;
            bottom: -16px;
            opacity: 0.15;
            border: 1px solid #e8e8e8;
        }
    }
    &__logoMenuContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px;

        position: absolute;
        width: 177px;
        height: 29px;
        left: 42px;
        top: 17px;
    }
    &__burger{
        padding-right: 25px;
        height: 24px;     
    }
    &__logo{
        cursor: pointer;
    }
    &__search{
        position: absolute;
        width: 20px;
        height: 38px;
        right: 44px;
        top: calc(50% - 20px/2);
        cursor: pointer;
    }
}

.mainTextContainer{
        position: absolute;
        width: 1036px;
        height: 455px;
        left: 28px;
        top: 98px;
        &__blur_left1{
            position: absolute;
            width: 1036px;
            height: 455px;
            left: 0;
            top: -14px;
            background: linear-gradient(90deg, rgba(18, 18, 18, 0.2) 22.26%, rgba(18, 18, 18, 0.1) 104.25%);
            filter: blur(100px);
            border-radius: 0px 500px 500px 0px;
            z-index: -1;
        }
        &__blur_right1{
            position: absolute;
            width: 1036px;
            height: 455px;
            left: 0px;
            top: -14px;
            background: linear-gradient(270deg, rgba(18, 18, 18, 0.2) 22.26%, rgba(18, 18, 18, 0.1) 104.25%);
            filter: blur(100px);
            border-radius: 0px 500px 500px 0px;
            z-index: -1;
        }
        &__blur_left2{
            position: absolute;
            width: 1036px;
            height: 455px;
            left: 0px;
            top: -14px;
            background: linear-gradient(340deg, rgba(18, 18, 18, 0.92) 22.26%, rgba(18, 18, 18, 0.1) 104.25%);
            filter: blur(100px);
            border-radius: 0px 500px 500px 0px;
            z-index: -1;
        }
        &__blur_right2{
            position: absolute;
            width: 1036px;
            height: 455px;
            left: 0px;
            top: -14px;
            background: linear-gradient(40deg, rgba(18, 18, 18, 0.92) 22.26%, rgba(18, 18, 18, 0.1) 104.25%);
            filter: blur(100px);
            border-radius: 0px 500px 500px 0px;
            z-index: -1;
        }
        &__mainText{
            position: static;
            display: inline-block;
            width: 930px;
            height: 180px;
            left: 0px;
            top: 0px;
            font-family: 'PT Serif';
            font-weight: 400;
            font-size: 48px;
            line-height: 60px;
            color: #FFFFFF;
            text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.55);
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 16px 0px;
        }
        &__subText{
            display: inline-block;
            position: static;
            width: 663px;
            height: 64px;
            left: 0px;
            top: 196px;

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */

            /* Text / On Surface */
            color: #FFFFFF;

            opacity: 0.75;
            text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.55);

            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 16px 0px;
        }
        &__date{
            position: static;
            width: 106px;
            height: 20px;
            left: 0px;
            top: 288px;

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;

            /* Text / On Surface */
            color: #FFFFFF;

            opacity: 0.5;
            text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.55);

            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 28px 0px;
        }
    }
.secondaryNews{
    &__primary_container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 1410px;
        height: 298px;
        top: 648px;
    }
    &__secondary_container{
        position: relative;
        width: 254px;
        margin: 0 28px;
    }
    &__img{
        position: absolute;
        top: -1px;
        width: 254px;
        height: 168px;
        left: 0;
        border-radius: 4px;
        z-index: -1;
        &_1{
            background: url("/src/img/Casablanca.png");
        }
        &_2{
            background: url("/src/img/COVID.png");
        }
        &_4{
            background: url("/src/img/Casablanca2.png");
        }
        &_5{
            background: url("/src/img/Eclair.png");
        }
    }

    &__img::before{
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        top: 42px;
        bottom: 0px;
        background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 77.6%);
        z-index: -1;
    }
    
    &__text{
        &__container, &__container2{
            position: absolute;
            width: 264px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
        }
        &__container{
            top: 91px;
        }

        &__main{
            margin: 0;
            padding: 0;
            font-size: 17px;
            line-height: 26px;
            /* or 153% */

            /* Text / On Surface */
            color: #FFFFFF;

        }
        &__sub{
            margin-top: 12px;
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 24px;
            /* or 160% */

            /* Text / On Surface */
            color: #FFFFFF;

            opacity: 0.6;
        }
        &__date{
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;

            /* Text / On Surface */
            color: #FFFFFF;

            opacity: 0.3;
        }
    }
}